@page "/test"
@inject IHorse _horse

<h3>Test</h3>
<p>@myString</p>
<p>@sql[1]</p>

@foreach (var item in sql)
{
    <p>@item</p>
}
<table>
    <thead>
        <tr>
            <td>Age</td><td>Name</td><td>SamuraiId</td>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var horse in horsesList)
            {
                <tr>
                <td>@horse.Age</td>
                <td>@horse.Name</td>
                <td>@horse.SamuraiId</td>
                <td>
                    <a href="testUpdate/@horse.Id">Update</a> |
                    <button @onclick="()=>horseDelete(horse)">Delete</button>
                </td>
                </tr>
   
            }
        
    </tbody>
</table>

@code {
    string myString = "I take a walk";
    List<string> sql = new List<string>()
    {
        "Alex", "Lasse","withmore"
    };
    List<Horse> horsesList = new List<Horse>();
    protected override void OnInitialized()
    { // this is the first method to be run
      // I want to load in data from repo. Place it in a variable

        horsesList = _horse.GetAll(); 
    }
    public void horseDelete(Horse horse)
    {
        // I want to delete the horse - how do I do it?
        _horse.Delete(horse.Id);
        // If I want to update my page, I have to Navigate to this url again
        StateHasChanged();
    }

}
